# Python
# Byte-compiled files
api/__pychace__/
api/migrations/
*.py[cod]
*$py.class
*.pyc
*.pyo
__pychace__/

# Vs Code
.vscode/
*.code-workspace
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
.idea/
.vscode/
venv/
media/
mysite/__pycache__/
.env